<div class="columns cardd" style="position:fixed;width:103%;z-index: 3;">
   
    <div style="margin-left:75%" class="column is-4">
      <nb-actions size="large">
        <nb-action> <i class="sl sl-icon-bell"><span class="new-circle gelatine"></span></i></nb-action>
        <nb-action> <i class="sl sl-icon-logout"></i></nb-action>
        <nb-action>
          <nb-user size="large" name={{name}} title={{Des}} [picture]="avatar" >
          </nb-user>
        </nb-action>
      </nb-actions>
    </div>
  </div>
