<div class="column " style="margin-top: 5%;" >

    <nb-card accent="info">
       
        <nb-card-body>
<nb-accordion multi>
    <!-- <nb-accordion-item *ngFor ="let c of custom; index as i">
      <nb-accordion-item-header>
        {{c.projectName}}
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <table class="table is-striped is-hoverable">
            <tbody>
                <tr>
                    <th>Employee Id</th>
                    <th>Name</th>
                    <th>Roll</th>
                    
                </tr>
                <tr *ngFor ="let d of c.employeeName; index as j" >
                   <td>{{c.employeeId[j]}}</td>
                   <td>{{d}}</td>
                   <td>{{c.roll[j]}}</td>
                  
                </tr> 
            </tbody>
        </table>
      </nb-accordion-item-body>
    </nb-accordion-item> -->
  
    <nb-accordion-item>
      <nb-accordion-item-header>
        Project name 2
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <table class="table is-striped is-hoverable">
            <tbody>
                <tr>
                    <th>Employee Id</th>
                    <th>Name</th>
                    <th>Roll</th>
                    
                </tr>
                <tr>
                   <td>E001</td>
                   <td>Nikhil Bhati</td>
                   <td>Developer</td>
                   
                </tr>
                <tr>
                    <td>E002</td>
                    <td>Amit Mishra</td>
                    <td>Tester</td>
                    
                 </tr>
            </tbody>
        </table>
      </nb-accordion-item-body>
    </nb-accordion-item>
  
    
  </nb-accordion>
  </nb-card-body>
  </nb-card>
  </div>
