<nb-layout>
    <!-- <nb-layout-header fixed>Employee Managment Starter Pro</nb-layout-header> 

    <nb-sidebar state="compacted"></nb-sidebar> -->

    <nb-layout-column style="padding: 0%; margin: 0px,0px,0px,0px;">
          <!-- <div class="nav-item nav-icon">
              
                <img src="../../assets/images/bk.png" height="450px" width="1450px"
                  style="position:fixed;left:30px;top:30px;transform: scale(1.1)">
               
            </div> -->
            
    <app-login> </app-login>
</nb-layout-column >
</nb-layout>
  

