<div class="column " >

    <nb-card accent="info">
        <nb-card-header>Resource Requests</nb-card-header>
            <nb-card-body>
                <nb-accordion multi>
                    <nb-accordion-item>
                      <nb-accordion-item-header>
                       Active Requests
                      </nb-accordion-item-header>
                      <nb-accordion-item-body>
                        <table class="table is-striped is-hoverable">
                            <tbody>
                                <tr>
                                    <th>Employee Id</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Resource Name</th>
                                    <th>Status</th>
                                </tr>
                                <ng-container *ngFor ="let c of RR; index as i">
                                  <tr *ngIf="showpen(c)" >
                                    
                                     <td>{{c.rr_Emp_Id}}</td>
                                     <td>{{c.lemp_Name}}</td>
                                     <td>{{c.rr_Description}}</td>
                                     <td>{{c.rr_Name}}</td>
                                
                                     <td><div class="columns is-8 ">
                                      <div><button nbButton size="tiny" status="success" style="margin: 10px;" (click) = "bto(c)" >Accept</button></div><div><button nbButton size="tiny" status="danger" style="margin: 10px;" (click) = "bttoo(c)" >Reject</button></div>
                                  </div>
                                     </td>
                                     
                                  </tr> 
                                </ng-container>
                            </tbody>
                        </table>
                      </nb-accordion-item-body>
                    </nb-accordion-item>
                  
                    <nb-accordion-item>
                      <nb-accordion-item-header>
                        Old Requests
                      </nb-accordion-item-header>
                      <nb-accordion-item-body>
                        <table class="table is-striped is-hoverable">
                            <tbody>
                                <tr>
                                    <th>Employee Id</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Resource Name</th>
                                    <th>Status</th>
                                </tr>
                                <ng-container *ngFor ="let c of RR; index as i">
                                  <tr *ngIf="showRes(c)" >
                                    <td>{{c.rr_Emp_Id}}</td>
                                    <td>{{c.lemp_Name}}</td>
                                    <td>{{c.rr_Description}}</td>
                                    <td>{{c.rr_Name}}</td>
                                    
                                   <td>
                                    <p style="color: green;" *ngIf="showStatus(c.rr_Status)" ><b >Accepted</b></p>
                                    <p style="color:red;" *ngIf="!showStatus(c.rr_Status)" ><b >Rejected</b></p>
                                   </td>
                                </tr> 
                                </ng-container>
                            </tbody>
                        </table>
                      </nb-accordion-item-body>
                    </nb-accordion-item>
                  
                    
                  </nb-accordion>
            </nb-card-body>
    </nb-card>
</div>

