<div>
    
    <nav class="main-menu" style="z-index:4;">
      <div class="main-menu-inner">
        <ul style="padding-left:0px">
          <li>
            <div class="nav-item nav-icon">
              <a routerLink ="editemp" class="nav-item nav-icon nav-inner ">
                <img src="../../assets/images/lg.png" height="30px" width="20px"
                  style="position:fixed;left:30px;top:30px;transform: scale(1.5)">
              </a>
            </div>
          </li> <br>
         
          <li routerLink ="Dashbord" routerLinkActive="active-nav" class="side-icon">
            <i class="fas fa-chart-pie title" title ="Dashboard"></i>
          </li>
         <li routerLink ="Team" routerLinkActive="active-nav" class="side-icon">
            <i class="fas fa-code-branch" title="Teams"></i>
          </li> 
          <li routerLink ="LeaveR" routerLinkActive="active-nav" class="side-icon">
            <i class="fas fa-running" title="Leave Request"></i>
          </li>
         
          <li  routerLink ="eResource" routerLinkActive="active-nav" class="side-icon">
            <i class="fas fa-tools" title="Resource Requests"></i>
          </li>
           <!-- 
          <li routerLink ="resource" routerLinkActive="active-nav" class="side-icon">
            <i class="fas fa-tools" title="Resource Request"></i>
          </li> -->
        
        </ul>
      </div>
    </nav>
     </div>
