<div>
    <!-- <nav class="main-menu" [ngClass]="status ? 'hide' :'show'" style="z-index:1;"> -->
    <nav class="main-menu" style="z-index:4;">
      <div class="main-menu-inner">
        <ul style="padding-left:0px">
          <li>
            <div class="nav-item nav-icon">
              <a routerLink ="editemp" class="nav-item nav-icon nav-inner ">
                <img src="../../assets/images/lg.png" height="30px" width="20px"
                  style="position:fixed;left:30px;top:30px;transform: scale(1.5)">
              </a>
            </div>
          </li> <br>
         
           <li routerLink ="mprojectprogress" routerLinkActive="active-nav" class="side-icon">
            <i class="fas fa-chart-pie title" title="Project Progress"></i>
          </li> 
           <li routerLink ="mleaverequest" routerLinkActive="active-nav" class="side-icon">
            <i class="fas fa-running" title="Leave Request"></i>
          </li> 
          <li routerLink ="maddmember" routerLinkActive="active-nav" class="side-icon">
            <i class="fas fa-users" title="Add Member"></i>
          </li>
          <li  routerLink ="mticket" routerLinkActive="active-nav" class="side-icon">
            <i class="fas fa-ticket-alt" title="Tickets"></i>
          </li>
          <li routerLink ="mrrequest" routerLinkActive="active-nav" class="side-icon">
            <i class="fas fa-tools" title="Resource Request"></i>
          </li> 
         
        </ul>
      </div>
    </nav>
    <!-- <app-header (closed)="hideDiv()" style="position:fixed;left:25px;bottom:20px;z-index: 10;" [opt]="'ffft'"  class="i6"></app-header> -->
  </div>
