<div class="column " >

    <nb-card accent="info">
        <nb-card-header>Employee Data</nb-card-header>
        <nb-card-body>
            <div class="columns" style="z-index: -1;">
                <div class="column is-4">
                    <input type="text" nbInput fullWidth status="primary" placeholder="Employee Id (Ex. E001)" [(ngModel)] = "id" (blur) = "select(id)">
                </div>
                <div class="column is-4">
                    <input type="text" nbInput fullWidth status="primary" placeholder="First Name" [(ngModel)] = "employee.emp_Firstname">
                </div>
                <div class="column is-4">
                    <input type="text" nbInput fullWidth status="primary" placeholder="Last Name"[(ngModel)] = "employee.emp_Lastname">
                </div>
             </div>
             <div class="columns">
                <div class="column is-4">
                    <input type="text" nbInput fullWidth status="primary" placeholder="Email" [(ngModel)] = "employee.emp_Email">
                </div>
                <div class="column is-8">
                    <textarea nbInput fullWidth placeholder="Address"status="primary" [(ngModel)] = "employee.emp_Address"></textarea>
                    
                </div>
                
             </div>
             <div class="columns">
                <div class="column is-4">
                    <input type="text" nbInput fullWidth status="primary" placeholder="Mobile No." [(ngModel)] = "employee.emp_mobile_no">
                </div>
                <div class="column is-4">
                    <input type="text" nbInput fullWidth status="primary" placeholder="City" [(ngModel)] = "employee.emp_City">
                </div>
                <div class="column is-4">
                    <input type="text" nbInput fullWidth status="primary" placeholder="State" [(ngModel)] = "employee.emp_State">
                </div>
                
             </div>
             <div class="columns">
                <div class="column is-4">
                   
                    <nb-select placeholder="Select Department" status="primary" [(selected)]="Department" [(ngModel)] = "employee.emp_Dept_Id">
                        
                        <nb-option value="DP_01">Accounts</nb-option>
                        <nb-option value="DP_02">Development</nb-option>
                        <nb-option value="DP_03">Support</nb-option>
                        <nb-option value="DP_04">Administration</nb-option>
                        
                        
                        
                      </nb-select>
                </div>
                <div class="column is-4">
                   
                    <nb-select placeholder="Select Designation" status="primary" [(selected)]="Designation" [(ngModel)] = "employee.emp_Designation">
                        
                        <nb-option value="Devloper">Devloper</nb-option>
                        <nb-option value="Designer">Designer</nb-option>
                        <nb-option value="Manager">Manager</nb-option>
                        <nb-option value="HR">HR</nb-option>
                        <nb-option value="Data Analyst">Data Analyst</nb-option>
                        <nb-option value="Tester">Tester</nb-option>
                        <nb-option value="Consultant">Consultant</nb-option>
                        
                        
                      </nb-select>
                </div>
                <div class="column is-4">
                    <input type="text" nbInput fullWidth status="primary" placeholder="Give Default Password" [(ngModel)] = "employee.emp_Pass">
                 
                </div>
                
             </div>

             <div class="columns">
                <div class="column is-3">
                    <input nbInput placeholder="Pick Date" status="primary" [nbDatepicker]="dateTimePicker" [(ngModel)] = "employee.emp_Dob">
                    <nb-datepicker #dateTimePicker></nb-datepicker>
                </div>
                <div class="column is-3">
                    <nb-select placeholder="Select Gender" status="primary" [(selected)]="Gender" [(ngModel)] = "employee.emp_gender">
                        
                        <nb-option value="M">Male</nb-option>
                        <nb-option value="F">Female</nb-option>
                        <nb-option value="T">Transgender</nb-option>
                        
                        
                      </nb-select>
                </div>
                <div class="column is-3">
                    <nb-select placeholder="Select Pay Slab" status="primary" [(selected)]="selectedPaySlab" [(ngModel)] = "employee.emp_payroll">
                        
                        <nb-option value="A">A</nb-option>
                        <nb-option value="B">B</nb-option>
                        <nb-option value="C">C</nb-option>
                        <nb-option value="D">D</nb-option>
                        
                        
                      </nb-select>
                </div>
                <div class="column is-3">
                    <nb-select placeholder="Application Access" status="primary" [(selected)]="selectAccesLevel" [(ngModel)] = "employee.emp_access">
                        
                        <nb-option value="A">Admin Level</nb-option>
                        <nb-option value="M">Manager Level</nb-option>
                        <nb-option value="E">Employee Level</nb-option> 
                        
                        
                      </nb-select>
                </div>
             </div>
             <div class="columns">

                <div class="column is-6">
                    <textarea nbInput fullWidth placeholder="Add Quallifications"status="primary" [(ngModel)] = "employee.emp_Qualification"></textarea>
                    
                </div>
                <div class="column is-6">
                    <textarea nbInput fullWidth placeholder="Skills"status="primary" [(ngModel)] = "employee.emp_Skills"></textarea>
                    
                </div>
             </div>

            

             <div class="columns ">

                <div class="column is-5" style="color: red;">{{msg}}</div>

                <div class="column is-2 is-offset-2 " >
                    <button nbButton hero status="primary" (click) = "addEmp(employee)">Add New Employee</button>
                    
                 
                </div>
                <div class="column is-2 " style="margin-left: 20px;">
                    
                    <button nbButton hero status="primary" (click) = "update(employee)">Update Employee</button>
                    
                 
                </div>
                <!-- <div class="column is-2" style="margin-left: 10px;">
                   
                    <button nbButton hero status="danger">Delete Employee</button>
                 
                </div> -->
                
             </div>
           
        </nb-card-body>
      </nb-card>

    


</div>
