<div class="column " >

  <nb-card accent="info">
    <nb-card-header>Raise Ticket</nb-card-header>
    <nb-card-body>
        <div class="columns is-multiline" style="z-index: -1;">
            <div class="column is-4">
                <input type="text" nbInput fullWidth status="primary" placeholder="Employee Id (Ex. E001)">
            </div>
            <div class="column is-4">
              <input type="text" nbInput fullWidth status="primary" placeholder="First Name">
          </div>
          <div class="column is-4">
              <input type="text" nbInput fullWidth status="primary" placeholder="Last Name">
          </div>
          <div class="column is-4">
            <input type="text" nbInput fullWidth status="primary" placeholder="Type">
        </div>
        <div class="column is-6">
          <input type="text" nbInput fullWidth status="primary" placeholder="Detail">
      </div>
      <div class="column is-3">
        <nb-select placeholder="Select Priority" status="primary" [(selected)]="priority" >
                        
          <nb-option value="H">High</nb-option>
          <nb-option value="M">Medium</nb-option>
          <nb-option value="L">Low</nb-option>
         
          
          
        </nb-select>
      </div>
      
      <div class=" column is-2 is-offset-9 " >
                    
        <button nbButton hero status="primary" >Raise Ticket</button>
        
     
    </div></div>
          
    </nb-card-body>
  </nb-card>
</div>