
        <nb-card>
            <nb-card-header>Button Hero</nb-card-header>
            <nb-card-body class="example-items-rows">
              <button nbButton hero status="primary" class="sp" (click)="nodeCall()" >Call Node</button>
              <button nbButton hero status="success" class="sp" (click)="springCall()">Call SpringBoot</button>
              <!-- <button nbButton hero status="info" class="sp">Info</button>
              <button nbButton hero status="warning"class="sp">Warning</button>
              <button nbButton hero status="danger"class="sp">Danger</button> -->
            </nb-card-body>
        
          </nb-card>
          
   
