
<nb-card>
    <nb-card-body>
        <div class="columns">
            <div class="column is-6" style="padding-bottom: 10px;margin-top: 20px; ">
                <div style="padding-bottom: 10px; font-size: 1.2em;"><b>Performance</b></div>
                <div style="margin-top: 45px;">
                <nb-progress-bar [value]="77" status="primary">77%</nb-progress-bar>
                </div>
                </div>
                <div class="column is-5 is-offset-1 " style=" border: 1px solid rgb(226, 226, 226); border-radius: 10px; margin-top: 20px;margin-bottom: 25px;">
                    <div style="font-size: 1.2em;"><b>Ticket Statistics</b></div>
                    <div class="columns is-12" style="margin-top: 15px; ">
                        <div class="column is-6"><div class="circle "><div style="text-align: center;margin-top: 28px; font-size: 1.7em; color: rgb(179, 179, 179);">19</div></div><div style="text-align: center; font-size: 1em; margin-left: -20px; margin-top: 10px;"><b>Closed</b></div> </div>
                        <div class="column  is-6" style="margin-left: 20px;"><div class="circle "><div style="text-align: center;margin-top: 28px; font-size: 1.7em; color: rgb(179, 179, 179);">8</div></div><div style="text-align: center; font-size: 1em; margin-left: -15px; margin-top: 10px;"><b>Open</b></div> </div>
                    </div>
                </div>
            </div>
        
    </nb-card-body>
  </nb-card>


  