

<div class="column " >

  <nb-card accent="info">
    <nb-card-header>Add Project Member</nb-card-header>
    <nb-card-body>
        <div class="columns is-multiline" style="z-index: -1;">
            <div class="column is-4">
                <input type="text" nbInput fullWidth status="primary" placeholder="Employee Id (Ex. E001)" [(ngModel)] = "id" (blur) = "select(id)">
            </div>
            <div class="column is-4">
              <input type="text" nbInput fullWidth status="primary" placeholder="First Name" [(ngModel)] = "employee.emp_Firstname">
          </div>
          <div class="column is-4">
              <input type="text" nbInput fullWidth status="primary" placeholder="Last Name" [(ngModel)] = "employee.emp_Lastname">
          </div>
          <div class="column is-4">
            <input type="text" nbInput fullWidth status="primary" placeholder="Designation"[(ngModel)] = "employee.emp_Designation">
        </div>
        <div class="column is-6">
          <input type="text" nbInput fullWidth status="primary" placeholder="Skills" [(ngModel)] = "employee.emp_Skills">
      </div>
      
      <div class="column is-3 is-offset-2"><p *ngIf="flag" style="color: red;">{{msg}}</p></div>
      <div class=" column is-2 is-offset-4" >
                    
        <button nbButton hero status="primary"(click) = "addTeamMember(id)" >Add To Project</button>
        
     
    </div></div>
          
    </nb-card-body>
  </nb-card>


  <nb-card accent="info">
       
    <nb-card-body>
<nb-accordion multi>
<!-- <nb-accordion-item *ngFor ="let c of custom; index as i">
  <nb-accordion-item-header>
    {{c.projectName}}
  </nb-accordion-item-header>
  <nb-accordion-item-body>
    <table class="table is-striped is-hoverable">
        <tbody>
            <tr>
                <th>Employee Id</th>
                <th>Name</th>
                <th>Roll</th>
                
            </tr>
            <tr *ngFor ="let d of c.employeeName; index as j" >
               <td>{{c.employeeId[j]}}</td>
               <td>{{d}}</td>
               <td>{{c.roll[j]}}</td>
              
            </tr> 
        </tbody>
    </table>
  </nb-accordion-item-body>
</nb-accordion-item> -->

<nb-accordion-item>
  <nb-accordion-item-header>
    Team Members
  </nb-accordion-item-header>
  <nb-accordion-item-body>
    <table class="table is-striped is-hoverable">
        <tbody>
            <tr>
                <th>Employee Id</th>
                <th>Name</th>
                <th>Roll</th>
                
            </tr>
            <ng-container *ngFor = "let i of apidataa.employeeId; index as j">
            <tr>
               <td>{{i}}</td>
               <td>{{apidataa.employeeName[j]}}</td>
               <td>{{apidataa.roll[j]}}</td>
               
            </tr>
          </ng-container>
           
        </tbody>
    </table>
  </nb-accordion-item-body>
</nb-accordion-item>


</nb-accordion>
</nb-card-body>
</nb-card>

</div>

