<p>maddmember works!</p>

<div class="column " >

  <nb-card accent="info">
    <nb-card-header>Add Project Member</nb-card-header>
    <nb-card-body>
        <div class="columns" style="z-index: -1;">
            <div class="column is-4">
                <input type="text" nbInput fullWidth status="primary" placeholder="Employee Id (Ex. E001)">
            </div>
            <div class="column is-4">
              <input type="text" nbInput fullWidth status="primary" placeholder="First Name">
          </div>
          <div class="column is-4">
              <input type="text" nbInput fullWidth status="primary" placeholder="Last Name">
          </div>
          </div>
    </nb-card-body>
  </nb-card>


</div>

<nb-card status="success">
    <nb-card-header>Nebula</nb-card-header>
    <nb-card-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
      Originally, nebula was a name for any diffuse astronomical object,
      including galaxies beyond the Milky Way.
    </nb-card-body>
    <nb-card-footer>By Wikipedia</nb-card-footer>
  </nb-card>